.filebox {
    margin-top: 50px;
    margin-left: 50px;
    
    font-variation-settings: 'wght' 750;
    
    font-size: 60px;
}

.filebox label {
    display: inline-block;
    padding-left: 50px; padding-right: 50px; padding-top: 50px; padding-bottom: 25px;
}

.filebox label {
    cursor: pointer;
}

.filebox .file-selection {
    font-size: 180px;
    border: 0px transparent solid;
    
    font-variation-settings: 'wght' var(--defualt-icon-weight);
    
    display: block;
    text-align: center;
}

.filebox label .file-selected {
    margin-top: -25px;
}