* {
    font-family: 'SUIT Variable', sans-serif;
    --defualt-icon-weight: 500;
}

body {
    margin: 0px;
    display: block;
    
    width: 100vw;
    height: 100vh;
    
    background-color: rgba(160, 160, 160, 1);
}

.box-ui {
    display: inline-block;
    
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    
    font-variation-settings: 'wght' 800;
    
    border: 10px white solid;
    border-radius: 40px;
    font-size: 24px;
}

.level-info {
    margin-left: 50px;
    margin-top: 25px;
    padding: 15px;
    
    border-radius: 20px;
    border-width: 5px;
}

.invisible {
    display: none;
}