#ui-table {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.fill-line {
    width: 100%;
    height: 0px;
}

.box-ui {
    /* display: inline-block; */
    width: fit-content;
    height: fit-content;
    
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    
    font-variation-settings: 'wght' 800;
    
    border: 10px white solid;
    border-radius: 40px;
    font-size: 24px;
}

.box-ui.spaced {
    margin-top: 50px;
    margin-left: 50px;
    
    padding-left: 50px;
    padding-right: 50px;
    
    padding-top: 25px;
    padding-bottom: 25px;
    
    /* height: 75px;
    /* line-height: 125px; 
    text-align: center; */
}

.box-ui.spaced div {
    position: relative;
    top: 50%; /* transform: translateY(-50%); */
}

.filebox {
    margin-top: 50px;
    margin-left: 50px;
    
    font-variation-settings: 'wght' 750;
    
    font-size: 60px;
}

.filebox label {
    display: inline-block;
    padding-left: 50px; padding-right: 50px; padding-top: 50px; padding-bottom: 25px;
}

.filebox label {
    cursor: pointer;
}

.filebox .file-selection {
    font-size: 180px;
    border: 0px transparent solid;
    
    font-variation-settings: 'wght' var(--defualt-icon-weight);
    
    display: block;
    text-align: center;
}

.filebox label .file-selected {
    margin-top: -25px;
}